Repository BranAndSceolan/SSE-Notes, pull requests merged in 2022-07, with the labels that each got.

#17 Add frontend to the dev branch
  .gitignore
  backend/package.json
  docker-compose.yml
  documentation/technologies.md
  frontend/.browserslistrc
  frontend/.dockerignore
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/babel.config.js
  frontend/build.sh
  frontend/cypress.json
  frontend/jest.config.js
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/app.js
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/styles.css
  frontend/src/App.vue
  frontend/src/assets/logo.png
  frontend/src/assets/logo.svg
  frontend/src/components/CreateDocument.vue
  frontend/src/components/Document.vue
  frontend/src/components/DocumentList.vue
  frontend/src/components/LandingPage.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Search.vue
  frontend/src/main.ts
  frontend/src/plugins/vuetify.ts
  frontend/src/plugins/webfontloader.ts
  frontend/src/router/index.ts
  frontend/src/services/API-Service.ts
  frontend/src/shims-vue.d.ts
  frontend/src/shims-vuetify.d.ts
  frontend/src/views/AboutView.vue
  frontend/src/views/CreateDocumentView.vue
  frontend/src/views/DocumentListView.vue
  frontend/src/views/DocumentView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/SearchView.vue
  frontend/tests/e2e/.eslintrc.js
  frontend/tests/e2e/plugins/index.js
  frontend/tests/e2e/specs/test.js
  frontend/tests/e2e/support/commands.js
  frontend/tests/e2e/support/index.js
  frontend/tests/unit/example.spec.ts
  frontend/tsconfig.json
  frontend/vue.config.js
Labels: frontend

#55 add $NOTES_USER to docker_compose
  docker-compose.yml
Labels: bug, implementation

#64 59 pages to view and search for notes
  backend/index.ts
  frontend/.eslintrc.js
  frontend/src/App.vue
  frontend/src/components/Document.vue
  frontend/src/components/DocumentList.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/Search.vue
  frontend/src/libraries/Types.ts
  frontend/src/router/index.ts
  frontend/src/services/API-Service.ts
Labels: enhancement, frontend

#66 return 404 when notes do not exist
  backend/modules/controllers/documents.controller.ts
  backend/tests/chai/index.ts
Labels: backend, implementation

#91 89 use sanitize url
  backend/modules/controllers/documents.controller.ts
  backend/modules/util/util.ts
  backend/package-lock.json
  backend/package.json
  documentation/dependencies/sanitize-html.md
  frontend/package.json
Labels: backend, implementation, security

#83 add csurf and cookieparser assesment
  .gitignore
  backend/package-lock.json
  documentation/dependencies/cookie-parser.md
  documentation/dependencies/csurf.md
  documentation/dependencies/express-session.md
  documentation/dependencies/express.md
  documentation/dependencies/node-argon2.md
  documentation/dependencies/pg.md
  documentation/dependencies/zxcvbn.md
Labels: documentation, backend, dependencies

#100 nginx.conf - cookies now have the HTTPOnly and Secure flags
  frontend/nginx.conf
Labels: security

#112 103 add frontend tests using jester
  .github/workflows/frontend-test.yml
  README.md
  backend/package-lock.json
  frontend/cypress.json
  frontend/jest.config.js
  frontend/styleMock.js
  frontend/tests/e2e/specs/test.js
  frontend/tests/unit/component_render.spec.ts
  frontend/tests/unit/example.spec.ts
Labels: frontend, implementation, tests

#113 Imprint added
  frontend/src/App.vue
  frontend/src/components/Footer.vue
  frontend/src/components/Imprint.vue
  frontend/src/components/LandingPage.vue
  frontend/src/router/index.ts
  frontend/src/views/AboutView.vue
  frontend/src/views/ImprintView.vue
Labels: frontend
